@model MyProducts.AdminSite.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductsDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductsDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductKeywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catagory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catagory.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
